<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div style="height:100px; background-color:slateblue;position:relative">
            <p style="color:white;font-size:40px;position:absolute;margin-left:15px">
                清新小站
            </p>
        </div>
        <div style="margin-top:35px;margin-bottom:45px">
            @RenderBody()
        </div>
        <div>
            <hr/>
            &#169; 2008 - 2100 版权所有
        </div>
    </body>
</html>
