@page "test"  /* http://localhost:5000/start/test */

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>主页</title>
    </head>
    <body>
        <div>
            <h2>主页</h2>
            <h4>阳光驿站</h4>
        </div>
        <hr/>
        <div>
            <a href="/regnew">注册新用户</a>
            <a href="/showlist">查看用户列表</a>
        </div>
    </body>

</html>
