@page

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>注册</title>
    </head>
    <body>
        <div>
            <p>
                <h1>新用户注册</h1>
            </p>
            <div>
                增加一个新用户
            </div>
        </div>    
    </body>
</html>