@model Microsoft.AspNetCore.Hosting.IWebHostEnvironment

<div style="color:red;font-size:18px">
    <p> 
        应用程序名称：@Model.ApplicationName
    </p>
    <p>
        当前运行环境：@Model.EnvironmentName
    </p>
</div>